.navbar-custom-menu > .navbar-nav > li {
    height: 50px;
    position: relative;
}

.navbar-custom-menu > .navbar-nav > li > a {
    height: 100%;
}

.navbar-custom-menu > .navbar-nav > li > a > img {
    height: 100%;
    border-radius: 50%;
}

#logoutBtn {
    background: none;
    border: none;
}

.user-panel {
    min-height: 55px;
}

.notification {
    max-height: 350px;
    overflow-y: scroll;
}

.notification::-webkit-scrollbar {
    width: 10px;
}

.notification::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.notification::-webkit-scrollbar-thumb {
    background: #888;
}

.notification::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notification .notification-items {
    padding: 7px;
    cursor: pointer;
    height: 80px;
    display: flex;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
}

.unread-notification {
    background-color: #d3d6db !important;
}

.notification .notification-items .thumbnail {
    height: 100%;
}

.notification .notification-items .info {
    margin-left: 10px;
}

.notification .notification-items .thumbnail img {
    height: 100%;
}

.notification .notification-items .info .notification-message {
    margin: 0 0 14px 0;
    font-size: 16px;
}

.notification .notification-items .info .product-name {
    margin: 0;
    font-size: 11px;
    color: black;
}

.notification .notification-items .info .address {
    margin: 0;
    color: black;
}
