.show-div-1 {
    width: 100%;
    padding-top: 30%;
    position: relative;
}

.show-div-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px
}

.show-table {
    margin-bottom: 0;
    background-color: #fff;
}

.show-middle {
    vertical-align: middle;
}

.show-div-3 {
    width: 100%;
    padding-top: 30%;
    position: relative;
}

.paginate {
    margin-left: 60px;
}
