span.error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f30;
}

input.error, select.error {
    border-color: #f30;
    box-shadow: none;
}

.category {
    height: 180px;
}

.childCategory {
    padding-top: 25px;
}

.list-category select {
    width: 100%;
    border: 1px solid #d2d6de;
}

.list-category select option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #666;
    cursor: pointer;
}

.list-category select option:hover {
    color: #ee4d2d;
    background-color: #f5f5f5;
    transition: 0.2s;
}

.category-item {
    position: relative;
}

.category-item i {
    position: absolute;
    right: 0;
}

.image-preview img {
    width: 100%;
}

#product-detail {
    display: none;
}

#product-detail .box-default {
    margin-bottom: 5px;
}

#upload {
    display: none;
}

#saveBtn {
    margin-right: 5px;
}

#attrTableBody input[type=text] {
    width: 100%;
}

#addRowBtn {
    display: none;
}

.remove-attr-btn {
    position: absolute;
    top: 42%;
    right: 8%;
    background: #fff;
    border: none;
    outline: none;
}

#productDetailTable {
    display: inline-table;
    margin-top: 18px;
}
