#product-table td,
#product-table th {
    vertical-align: middle !important;
}
#product-table span.status-label {
    display: block;
    width: 85px;
    text-align: center;
    padding: 2px 0px;
}
#search-input span.input-group-addon {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 34px;
    border: none;
    background: none;
}
#search-input span.input-group-addon i {
    font-size: 18px;
    line-height: 34px;
    width: 34px;
    color: #f30;
}
#search-input input {
    position: static;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    padding: 5px 5px 5px 34px;
    float: none;
    height: unset;
    border-color: #fbfbfb;
    box-shadow: none;
    background-color: #e8f0fe;
    border-radius: 5px;
}
#refresh-btn {
    margin-right: 5px;
}
.thumbnail-col {
    width: 200px;
}
.thumbnail-col img {
    height: 70px;
}
